# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# Exclude test data directory
test_data/
output/

# IDE/Editor files
.vscode/
.idea/

# Logs
*.log

# Local environment files
.env
*.env

# Documentation build artifacts
docs/_build/

# Google Sheets Credentials
config/papclottery-aabf0d892e93.json
